* {
    box-sizing: border-box;
	padding: 0px;
	border: 0px;
} 
body{
	font-size: 16px;
	color: #bab6f1;
	background-color: #bab6f1 ;
	font-family: Arial, Verdana, sans-serif; 
}
#header-nav{
	background: #144166;
	border-bottom: solid 4px #FF8507;
	border-top: 0px;
	broder-right: 0px;
	border-left: 0px;
	border-radius: 0px;

}

#logo-img{
	 background-image: url(../images/logo.png);
	 width: 200px;
     height: 175px;
     margin: 10px 0px 10px 0;

}

.navbar-brand{
	margin-top:20px;
	padding: 20px;
	color: #61f709;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #61f709;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.glyphicon-star{
	color: gold;
	font-size: 0.75;
	padding-top: 10px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#bs-example-navbar-collapse-1 .nav li a{
	color: #61f709;
	font-size: 1.25em;
}
#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

/* Carousel */
#myCarousel{
	border: solid 4px #FF8507;
	border-radius: 6px;
}
#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
	background:#eee;
	border-top: solid 4px #FF8507;
}

#myCarousel .nav a {
    border-radius: 6px;
}

/*budy form*/
div.clear
{
    clear: both;
}

div.product-chooser{
    
}

    div.product-chooser.disabled div.product-chooser-item
	{
		zoom: 1;
		filter: alpha(opacity=60);
		opacity: 0.6;
		cursor: default;
	}

	div.product-chooser div.product-chooser-item{
		padding: 11px;
		border-radius: 6px;
		cursor: pointer;
		position: relative;
		border: solid 4px #FF8507;
		margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
	}
	
	div.product-chooser div.product-chooser-item.selected{
		border: 4px solid #428bca;
		background: #efefef;
		padding: 8px;
		filter: alpha(opacity=100);
		opacity: 1;
	}
	
		div.product-chooser div.product-chooser-item img{
			padding: 0;
		}
		
		div.product-chooser div.product-chooser-item span.title{
			display: block;
			margin: 10px 0 5px 0;
			font-weight: bold;
			font-size: 12px;
		}
		
		div.product-chooser div.product-chooser-item span.description{
			font-size: 12px;
		}
		
		div.product-chooser div.product-chooser-item input{
			position: absolute;
			left: 0;
			top: 0;
			visibility:hidden;
		}
/* FOOTER */
.panel-footer {
  margin-top: 30px ;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #144166;
  border-top: solid 4px #FF8507;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */

@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
